name: Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Deploy to production
        run: |
          cd ~/prod/telegram_diary
          git fetch origin main
          git reset --hard origin/main

      - name: Install dependencies
        run: |
          cd ~/prod/telegram_diary
          uv sync

      - name: Restart service
        run: sudo systemctl restart telegram-diary
